<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd">
	<!--配置控制器的扫描路径 -->
	<context:component-scan
		base-package="com.edu.controller"></context:component-scan>
	<!--基于注解处理器映射器 和处理器适配器 -->
	<mvc:annotation-driven
		conversion-service="convertersDateService"/>
	<!-- 配置一个基于jsp的视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<mvc:default-servlet-handler/>
	<!-- 配置一个日期类型的格式转换器 -->
	<bean id="convertersDateService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.edu.convertor.DateConvertor"></bean>
			</list>
		</property>
	</bean>
	
	
    
    <!-- 配置validationMessageSource -->
    <bean id="validationMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!-- 指定校验信息的资源文件的基本文件名称，不包括后缀，后缀默认是properties -->
        <property name="basenames">
            <list>
                <value>classpath:validationMessageSource</value>
            </list>
        </property>
        <!-- 指定文件的编码 -->
        <property name="fileEncodings" value="utf8"></property>
        <!-- 对资源文件内容缓存的时间，单位秒 -->
        <property name="cacheSeconds" value="120"></property>
    </bean>
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" /><!-- 默认编码ISO-8859-1 -->
		<property name="maxInMemorySize" value="10240" /><!-- 最大内存 10M -->
		<property name="uploadTempDir" value="/upload/" /><!-- 上传的文件名字 -->
		<property name="maxUploadSize" value="-1" /><!-- 最大文件，-1不限制 -->
	</bean>
	<!-- <mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources> -->
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/video/**"/><!-- 拦截所有的请求 -->
			<mvc:exclude-mapping path="/user/**"/>
			<bean class="com.edu.handler.UserHandler"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans> 